:root {
  --primary-color: rgb(223, 14, 195);
  --secondary: rgb(201, 12, 176);
}

header {
  padding-top: 0;
  padding-top: env(safe-area-inset-bottom, 0);
}

.btn-primary, .btn-primary:active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  min-width: 100px !important;
}

.btn-primary:active, .btn-check:focus .btn-primary, .btn-primary:focus, .btn-primary:hover{
  box-shadow: none !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;

}

@media screen and (max-width:768px) {
  .btn {
    padding: .7rem;
    margin: 1rem;
  }

  .card {
    padding-bottom: 5rem !important;
  }
}

@media screen and (min-width:768px ) {
  .card {
    max-width: 70%;
  }
  .btn {
    margin: .5rem;
  }
}
@media screen and (min-width: 1200px ) {
  .card {
    max-width: 60%;
  }
  .card-image {
    max-height: 40rem !important;
  }
}